.card {
  background-color: #f9fafb;
  border-radius: 32px;
  box-shadow: 0 24px 40px rgb(160, 167, 178, 0.25);
  padding: 10px;
}

.description {
  min-height: 80px;
  max-height: 80px;
  max-width: 330px;
}

.cardgrid {
  display: grid;
}

@media (max-width: 767px) {
  .card {
    margin: 10px 0px;
  }

  .avatar {
    grid-column: 1 / 2;
    grid-row: 1/ 1;
    width: 80px;
  }
  .social {
    margin-top: 1rem;
    grid-column: 1 / 3;
    grid-row: 2;
    width: 100%;
  }

  .name {
    line-height: 1;
    font-size: 35px;
    grid-column: 2/2;
    grid-row: 1;
  }
  .cardText {
    grid-column: 1 / 3;
    grid-row: 3;
  }
}

@media (min-width: 768px) {
  .card {
    margin: 10px;
  }
  .avatar {
    grid-column: 1 / 2;
    grid-row: 1/ 3;
    width: 100px;
  }
  .name {
    line-height: 1;
    font-size: 35px;
    grid-column: 2/2;
    grid-row: 1;
  }

  .social {
    grid-column: 2;
    grid-row: 2 / 3;
    width: 75%;
  }

  .cardText {
    grid-column: 2 / 3;
    grid-row: 3;
    grid-row: 3;
  }
}
